{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    
    {% block javascript %}
    <script src="{% static 'js/global.js' %}"></script> 
    {% endblock javascript %}

    {% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    {% endblock extra_css %}

    {% block extra_js %}{% endblock extra_js %}
    

    {% block titulo %}
    <title>Pokayoke</title>
    {% endblock titulo %} {% block extra_head %} {% endblock extra_head %}
  </head>
  <body>

    {% block navbar %} 
    <div class="custom-bar">
      <button id="minimize-btn" class="button minimize-button">_</button>
      <button id="close-btn" class="button close-button">X</button>
    </div>
    {% endblock navbar %}


    {% block content %} {% endblock content %} 
    {% block footer %} {% endblock footer %} 

  </body>
</html>
